<div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid>
        <ion-row class="d-flex align-content-center">
            <ion-col class="col-md-2 col-2 ">
                <ion-thumbnail>
                    <img src={{abogado.Foto}}>
                </ion-thumbnail>
            </ion-col>
            <ion-col class="mt-3">

                <h3 style="color: white">
                    <strong>
                        LIC. {{abogado.Nombre}}
                    </strong>
                </h3>

            </ion-col>
        </ion-row>
    </ion-grid>
  </div>

<ion-content>
    
    <h3 class="m-3"> Estas son sus citas</h3>


    <ion-toolbar>
        <ion-item *ngFor="let a of total_citas; let i = index;" (click)="pasar(i)">
            <ion-label>
                <h3 class="m-0 p-0"><strong>{{a.Nombre}} </strong></h3>
                <h4 class="m-0 p-0">{{a.Modalidad}}</h4>
                <ion-grid class="p-0 m-0">
                    <ion-row class="p-0 m-0">
                        <mat-icon  style="color: rgb(0, 226, 68);">location_city</mat-icon>
                        <h5 class="m-1 p-0"> {{a.Ciudad}}</h5>
                    </ion-row>
                </ion-grid>
            </ion-label>
            <ion-label fill="outline" slot="end">
                <ion-grid>
                    <ion-row>
                        <ion-col class="d-flex justify-content-end">
                            <h2 class="m-0">{{a.Puntuacion}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>{{a.Estrellas}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-toolbar>
</ion-content>