<div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid class="p-0">
        <ion-row>
            <ion-col class="col-md-1 col-1 mt-2 p-0">
                <mat-icon>how_to_reg</mat-icon>
            </ion-col>
            <ion-col class="col-md-11 col-11 mt-2 p-2">
                <strong>
                    <h2 style="color: rgb(255, 255, 255);">
                        Registrar Cita
                    </h2>
                </strong>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content class="tutorial-page" collapse="condense">
    <ion-card class="p-0">
        
        <ion-card-content>
            <ion-card-subtitle>Datos del abogado</ion-card-subtitle>
            <hr class="m-0">
            <ion-card-title>{{abogado.Nombre}}</ion-card-title>
            <h5><strong>Universidad: </strong>{{abogado.Universidad}}</h5>
            <h5><strong>Id Profesional: </strong>{{abogado.Tarjeta}}</h5>
            <h5>{{abogado.Trayectoria}}</h5>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Nombre Completo"
                    clearInput value="clear me" [ngModel]="nombres" (ngModelChange)="nombre($event)"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Teléfono" clearInput
                    value="clear me" type="number" [ngModel]="telefono" (ngModelChange)="telefonos($event)"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Email" clearInput
                    value="clear me" [ngModel]="email" (ngModelChange)="emails($event)"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Ciudad" clearInput
                    value="clear me" [ngModel]="ciudad" (ngModelChange)="ciudads($event)"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-textarea class="m-1" oninput="this.value = this.value.toUpperCase()"
                    placeholder="Descripcion de la cita" clearInput value="clear me" [ngModel]="descripcion"
                    (ngModelChange)="descripcions($event)"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-list class="p-0">
                    <ion-item class="m-1">
                        <ion-label>Modalidad de la cita</ion-label>
                        <ion-select placeholder="Seleccionar" [ngModel]="modalidad"
                            (ngModelChange)="modalidades($event)">
                            <ion-select-option value="Presencial">Presencial</ion-select-option>
                            <ion-select-option value="Virtual">Virtual</ion-select-option>
                            <ion-select-option value="Virtual y Presencial">Virtual y Presencial</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-button [disabled]="nombres == ''" (click)="ojo()" expand="full">
        <ion-label>Registrar Cita</ion-label>
    </ion-button>



</ion-content>