.tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }

    
    ion-col{
        padding: 0px;
    }

    .slide-image {
      max-height: 90%;
      max-width: 90%;
      margin: 15px 0;
      
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding:30px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
      text-justify: inter-word;
  
      b {
        color: #000000;
      }
    }
  
  }
  ion-slide{
      display: block;
  }

  ion-button{
    margin: 1ch;
    width: 225px;
    border: 0px !important;
    border: transparent !important;
    box-shadow: none;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
}

div {
  text-align: justify;
  text-justify: inter-word;
}
p{
  text-justify: inter-word;
}