
<ion-content class="tutorial-page">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides" class="justify-content-center">
      <!-- <ion-grid>
        <ion-row class="d-flex flex-row-reverse ">
          <ion-col class="d-flex flex-row-reverse">
            <ion-button shape="round" color="primary-contrast" (click)="lazyLoadDetalleAbogados()">
              <h4  style="font-size: 13px; color: rgb(202, 218, 241);"  class="m-0">Close</h4><ion-icon name="close" color="primary"></ion-icon>
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid> -->
      <img [src]="slide.image" class="slide-image" />
      <h1 class="slide-title" [innerHTML]="slide.title"></h1>
      <p align="justify" [innerHTML]="slide.description"></p>

    </ion-slide>
    <ion-slide>
      <p class="m-4"></p>
      <img src="./assets/icon/icono.jpeg" class="slide-image mt-2" />


      <ion-grid>
        <ion-row class="d-flex justify-content-center">
          <ion-button  (click)="lazyLoadDetalleAbogados()" color="primary">Reservar Cita</ion-button>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <ion-button  color="primary" (click)="lazyLoadDetalleRegistro()">Registrar Abogado</ion-button>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <ion-button (click)="lazyLoadIniciarSesion()" color="primary">Iniciar Sesión</ion-button>
        </ion-row>
      </ion-grid>



    </ion-slide>
  </ion-slides>

  <!-- <ion-list>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
</ion-content>