.tutorial-page {

    .toolbar-background {
      background: #fff;
  
    }
    
    .slide-zoom {
      height: 100%;
    }
   
    ion-grid{
        padding: 0px;   
        background: #fff; 
    }   


    ion-col{
        padding: 0px;
    }

    .slide-image {
      max-height: 75%;
      max-width: 75%;
      margin: 15px 0;
      
    }
  
    b {
      font-weight: 500;
    }

  
  }
  ion-slide{
      display: block;
  }
  ion-input, ion-item, ion-textarea{
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 1.2em;
    border: 1px solid #f5f4f4 !important;
    --background: rgb(255, 255, 255) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 98%; // this is applying perfectly
    max-height: 20vh;
}

.alert-radio-label.sc-ion-alert-md{
  color: #000000
}

ion-button{
  background-color: rgb(200, 204, 255);
}

mat-icon{
  margin: 11px;
  color: #fff;
}

