<div style="background-color: #6200EE" class="d-flex align-content-center">
  <ion-grid class="p-0">
    <ion-row>
      <ion-col class="col-md-1 col-1 mt-2 p-0">
        <mat-icon>how_to_reg</mat-icon>
      </ion-col>
      <ion-col class="col-md-11 col-11 mt-2 p-2">
        <strong>
          <h2 style="color: rgb(255, 255, 255);">
            Registro de
            Abogados

          </h2>
        </strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content class="tutorial-page" collapse="condense">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Nombre Completo" clearInput
          value="clear me" [ngModel]="nombres" (ngModelChange)="nombre($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Teléfono" clearInput
          value="clear me" type="number" [ngModel]="telefono" (ngModelChange)="telefonos($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Email" clearInput
          value="clear me" [ngModel]="email" (ngModelChange)="emails($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="p-0">
          <ion-item class="m-1">
            <ion-label>Modalidad de la cita</ion-label>
            <ion-select placeholder="Seleccionar" [ngModel]="modalidad" (ngModelChange)="modalidades($event)">
              <ion-select-option value="Presencial">Presencial</ion-select-option>
              <ion-select-option value="Virtual">Virtual</ion-select-option>
              <ion-select-option value="Virtual y Presencial">Virtual y Presencial</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="p-0">
          <ion-item class="m-1">
            <ion-label>Especialidad del Abogado</ion-label>
            <ion-select placeholder="Seleccionar" [ngModel]="especialidad" (ngModelChange)="especialidades($event)">
              <ion-select-option value="Derecho Comercial">Derecho Comercial</ion-select-option>
              <ion-select-option value="Derecho Disciplinario">Derecho Disciplinario</ion-select-option>
              <ion-select-option value="Derecho Administrativo">Derecho Administrativo</ion-select-option>
              <ion-select-option value="Derecho Tributario">Derecho Tributario</ion-select-option>
              <ion-select-option value="Derecho Familia">Derecho Familia</ion-select-option>
              <ion-select-option value="Derecho Laboral">Derecho Laboral</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Ciudad Residencia"
          clearInput value="clear me" [ngModel]="ciudad" (ngModelChange)="ciudads($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Dirección Residencia"
          clearInput value="clear me" [ngModel]="direccion" (ngModelChange)="direccions($event)"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col style="background-color: #6200EE">
          <strong>
            <h2 style="color: rgb(255, 255, 255);" class="m-2">
              Experiencia
            </h2>
          </strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Años de Experiencia"
          clearInput value="clear me" type="number" [ngModel]="experiencia" (ngModelChange)="experiencias($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Trayectoria" clearInput
          value="clear me" type="number" [ngModel]="trayectoria" (ngModelChange)="trayectorias($event)"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col style="background-color: #6200EE">
          <strong>
            <h2 style="color: rgb(255, 255, 255);" class="m-2">
              Universidad
            </h2>
          </strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Titulo" clearInput
          value="clear me" [ngModel]="titulo" (ngModelChange)="titulos($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Universidad" clearInput
          value="clear me" [ngModel]="universidad" (ngModelChange)="universidads($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="p-0">
          <ion-item class="m-1">
            <ion-label>Estado del Abogado</ion-label>
            <ion-select placeholder="Seleccionar" [ngModel]="estado" (ngModelChange)="estados($event)">
              <ion-select-option value="Graduado">Graduado</ion-select-option>
              <ion-select-option value="Estudiando">Estudiando</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" oninput="this.value = this.value.toUpperCase()" placeholder="Tarjeta Profesional"
          clearInput value="clear me" type="number" [ngModel]="tarjeta" (ngModelChange)="tarjetas($event)"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input class="m-1" placeholder="Foto perfil" clearInput value="clear me" [ngModel]="foto"
          (ngModelChange)="fotos($event)"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col style="background-color: #6200EE">
          <strong>
            <h2 style="color: rgb(255, 255, 255);" class="m-2">
              Usuario
            </h2>
          </strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" placeholder="Usuario" clearInput value="clear me" [ngModel]="usuario"
          (ngModelChange)="usuarios($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="m-1" placeholder="Contraseña" clearInput value="clear me" [ngModel]="pass"
          (ngModelChange)="passs($event)"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input class="m-1" placeholder="Valor de la consulta" clearInput [ngModel]="valor"
          (ngModelChange)="valors($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button
      [disabled]="nombres == '' || modalidad == '' || especialidad == '' || email == ''  || usuario ==''||pass== '' "
      (click)="ojo()" expand="full">
      <ion-label>Registrar Abogado</ion-label>
    </ion-button>
  </ion-grid>

</ion-content>