.tutorial-page {

   
  
    .slide-zoom {
      height: 100%;
    }

    
    ion-col{
        padding: 0px;
    }

    .slide-image {
      max-height: 75%;
      max-width: 75%;
      margin: 15px 0;
      
    }
  
    b {
      font-weight: 500;
    }

  
  }
  ion-slide{
      display: block;
  }
  img{
    box-shadow: 6px 5px 5px rgb(223, 223, 223);
    border-radius: 50%;
  }

  h2 , h3 {
line-height: 1.1rem!important
  }


  ion-select{
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 1.2em;
    border: 1px solid #f5f4f4 !important;
    --background: rgb(255, 255, 255) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 100%; // this is applying perfectly
    max-height: 20vh;
}

.p{
  text-justify: inter-word;
}
