<div style="background-color: #6200EE" class="d-flex align-content-center">
  <ion-grid class="p-0">
    <ion-row>
      <ion-col clas s="col-md-1 col-1 mt-2 p-0">
      </ion-col>
      <ion-col class="col-md-11 col-11 mt-2 p-0">
        <strong>
          <h2  style="color: rgb(255, 255, 255);"  class="mt-2 p-2"> 
              Abogados Disponibles
          </h2>
        </strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content class="tutorial-page">


  
  <ion-list class="p-0">
    <ion-item class="m-1">
      <ion-select class="w-100" placeholder="Especialidad Abogado" [ngModel]="especialidad"
        (ngModelChange)="especialidades($event)">
        <ion-select-option value="Derecho Comercial">Derecho Comercial</ion-select-option>
        <ion-select-option value="Derecho Disciplinario">Derecho Disciplinario</ion-select-option>
        <ion-select-option value="Derecho Administrativo">Derecho Administrativo</ion-select-option>
        <ion-select-option value="Derecho Tributario">Derecho Tributario</ion-select-option>
        <ion-select-option value="Derecho Familia">Derecho Familia</ion-select-option>
        <ion-select-option value="Derecho Laboral">Derecho Laboral</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list class="p-0">
    <ion-item class="m-1">
      <ion-select [disabled]="cambio == 0"  class="w-100" placeholder="Estado del Abogado" [ngModel]="estado"
      (ngModelChange)="estados($event)">
      <ion-select-option value="Graduado">Profesional</ion-select-option>
      <ion-select-option value="Estudiando">Estudiante</ion-select-option>
    
    </ion-select>
    </ion-item>
  </ion-list>



  
  <ion-toolbar>
    <ion-item *ngFor="let a of abogados_comerciales; let i = index;" (click)="abogado(i)">
      <ion-thumbnail slot="start">
        <img  src="{{a.Foto}}">
      </ion-thumbnail>
      <ion-label>
        <h2  class="m-0 p-0">{{a.Nombre}}</h2>
        <h3 class="m-0 p-0">{{a.Modalidad}}</h3>
        <h3 class="m-0 p-0" style="color: rgb(255, 0, 0);">{{a.Valor}}</h3>
      </ion-label>
      <ion-label fill="outline" slot="end">
        <ion-grid>
          <ion-row>
            <ion-col class="d-flex justify-content-end">
              <h2 class="m-0">{{a.Puntuacion}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{a.Estrellas}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-content>
