ion-input, ion-item, ion-textarea{
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 1.2em;
    border: 2px solid #cecece !important;
    --background: rgb(255, 255, 255) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 98%; // this is applying perfectly
    max-height: 30vh;
}


h1{
    color: #202150
}