<ion-content>
  <ion-slide class="d-flex justify-content-center">

    <ion-grid>
      <ion-row class="d-flex justify-content-center">
        <img src="./assets/icon/icono.jpeg" class="slide-image" />
      </ion-row>
      <ion-row class="d-flex justify-content-center">
        <h1 class="mt-4    slide-title"><b>Iniciar Sesión </b> </h1>
      </ion-row>
      <ion-row class="d-flex justify-content-center m-2">
        <ion-col>
          <ion-input class="m-1" [ngModel]="usuario" (ngModelChange)="usuarios($event)" placeholder="Usuario" clearInput
            type="text">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="d-flex justify-content-center m-2">
        <ion-col>
          <ion-input class="m-1" [ngModel]="pass" (ngModelChange)="passss($event)" placeholder="Contraseña" clearInput
            type="password">
          </ion-input>
        </ion-col>
        

      </ion-row>
      <ion-row class="d-flex justify-content-center m-2">
        <ion-col>
          <!-- Round -->
          <ion-button shape="round" (click)="click()">Ingresar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-slide>
</ion-content>