.tutorial-page {

   
  
    .slide-zoom {
      height: 100%;
    }

    
    ion-col{
        padding: 0px;
    }

    .slide-image {
      max-height: 75%;
      max-width: 75%;
      margin: 15px 0;
      
    }
  
    b {
      font-weight: 500;
    }

  
  }
  ion-slide{
      display: block;
  }
  img{
    border-radius: 50%;
  }

  h3{ 
    color: #000000;
  }

  h2 , h3 {
    line-height: 1.1rem!important
      }