<div style="background-color: #6200EE" class="d-flex align-content-center">
    <ion-grid>
        <ion-row class="d-flex align-content-center">

            <ion-col class="mt-3">

                <h3 style="color: white">
                    <strong>
                        LIC. {{cita_seleccionada.Nombre_Abogado}}
                    </strong>
                </h3>

            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Resumen de la cita</ion-card-subtitle>
            <ion-card-title>{{cita_seleccionada.Nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{cita_seleccionada.Descripcion}}
        </ion-card-content>
    </ion-card>
    <h3 class="m-3">Datos del Cliente:</h3>
    <ion-card>
        <ion-item>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>{{cita_seleccionada.Ciudad}}</ion-label>
        </ion-item>
        <ion-item href="tel:{{cita_seleccionada.Telefono}}">
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>{{cita_seleccionada.Telefono}}</ion-label>
        </ion-item>
        <ion-item
            href="mailto:{{cita_seleccionada.Email}}?Subject=Respuesta%20a%20solicitud%20de%20cita%20con%20abogado">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>{{cita_seleccionada.Email}}</ion-label>
        </ion-item>
        <ion-item href="https://wa.me/57{{cita_seleccionada.Telefono}}">
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
            <ion-label style="color: green;">Chatear por Whatsaap</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>{{cita_seleccionada.Modalidad}}</ion-label>
        </ion-item>







    </ion-card>



</ion-content>